.skills{
    padding-bottom: 2rem;
      background: 
            linear-gradient(
                to right,
                rgba($primary-color, 0.7),
                rgba($primary-color, 0.4)
            ), 
            url('../img/moon.jpg') center top;
   
            &_bio-image{
                // height: 50vh;
                width: 100%;
                padding: 16vh 5% 13px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;
                
                p{
                    margin-bottom : 2rem;
                    font-family: $font;
                }
            }

    &_bio{
        width: 80%;
        text-align: center;
        font-family: $font;
        .text-secondary{
            padding-bottom: 1rem;
        }
    }
    &_Text{
        // height: 100%;
        // width: 100vh;
        text-align: center;
        // text-align: justify;
        // display: flex;
        // justify-content: space-around;
        font-family: $font;
        align-items: center;
        // text-align: center;
        // padding-top: 20vh;
        // padding: 20vh 5% 0;
        &_Title{
            cursor: pointer;
            padding-bottom: 1rem;
            text-transform: uppercase;
            font-weight: 500;
            color: $secondary-color;
            // background-clip: text;
            // -webkit-background-clip: text;
            // -webkit-text-fill-color: transparent;
        }
    }
    // &_TextSoft{
    //     text-align: center;
    //     font-family: $font;
    //     padding: 10vh 5% 0;
    //     &_Title{
    //         padding-bottom: 1rem;
    //         text-transform: uppercase;
    //         font-weight: 900;
    //         background: linear-gradient(
    //         to right, 
    //         $secondary-color, 
    //         rgb(255, 255, 255)
    //         );
    //         background-clip: text;
    //         -webkit-background-clip: text;
    //         -webkit-text-fill-color: transparent;
    //     }
    // }


    .langs{
        width: 60vw;
        margin: 1rem auto 0 ;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        font-family: $font;

        background-color: rgba(255, 255, 255, 0.002);
        // color: black;
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(9.9px);
        -webkit-backdrop-filter: blur(9.9px);
        border: 1px solid rgba(255, 255, 255, 0.27);
        // padding: 2rem 0 1rem;
        padding-top: 1rem;
        &_lang{
            padding: 0.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }


    }
    .langs{
        width: 60vw;
        margin: 1rem auto 0 ;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        font-family: $font;

        background-color: rgba(255, 255, 255, 0.002);
        // color: black;
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(9.9px);
        -webkit-backdrop-filter: blur(9.9px);
        border: 1px solid rgba(255, 255, 255, 0.27);
        // padding: 2rem 0 1rem;
        padding-top: 1rem;
        &_lang{
            padding: 0.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }


    }
    .hideSquare{
        display: none;
    }
    .notSelected{
        color: white;
        font-weight: 200;
    }
    .notSelected:hover{
        color: $secondary-color;
        filter: drop-shadow(0 0 20px $secondary-color) drop-shadow(0 0 40px $secondary-color) drop-shadow(0 0 60px $secondary-color);
        font-weight: 700;
    }
    
    
    
    .skill{
        width: 160px;
        height: 160px;
        position: relative;


    }
    .outer{
        height: 160px;
        width: 160px;
        border-radius: 50%;
        box-shadow: 6px 6px 10px -1px rgb(0, 0, 0, 0.15),
                    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
        padding: 20px;
    }
    .inner{
        height: 120px;
        width: 120px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: inset  4px 4px 6px -1px rgb(0, 0, 0, 0.2),
                    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
                    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
                    0.5px 0.5px 0px rgb(0, 0, 0, 0.15),
                    0px 12px 10px -10px rgb(0, 0, 0, 0.05);
    }

    .number{
        font-weight: 600;
        text-align: center;
    }
    circle{
        fill: none;
        stroke: url(#GradientColor);
        stroke-width: 20px;  
        stroke-dasharray: 472px;
        stroke-dashoffset: 472px;
    }
    #html{
        animation: anim 1.5s linear forwards; 
    }
    #js{
        animation: animJs 1.5s linear forwards; 
    }
    #php{
        
        animation: animPhp 1.5s linear forwards; 
    }
    #sql{
        
        animation: animSql 1.5s linear forwards; 
    }
    #node{
        animation: animNode 1.5s linear forwards; 
    }
    #sass{
        animation: animSass 1.5s linear forwards; 
    }
    #sSkills{
        stroke: url(#GradientColors);
        animation: animSkills 1.5s linear forwards; 
    }
    svg{
        position: absolute;
        top: 0;
        left: 0;
        transform: rotate(270deg);
    }
    
    /* To calculate the percentage we need to do 472 - 472 x 0.(our percentage) */
    @keyframes anim{
        100%{
            stroke-dashoffset: 118;
        }
    }
    @keyframes animJs{
        100%{
            stroke-dashoffset: 236;
        }
    }
    @keyframes animPhp{
        100%{
            stroke-dashoffset: 236;
        }
    }
    @keyframes animSql{
        100%{
            stroke-dashoffset: 189;
        }
    }
    @keyframes animNode{
        100%{
            stroke-dashoffset: 283;
        }
    }
    @keyframes animSass{
        100%{
            stroke-dashoffset: 142;
        }
    }
    @keyframes animSkills {
        100%{
            stroke-dashoffset: 0;

        }
        
    }
    

    .social-icons{
        display: flex;
        flex-direction: column;
    }

    footer{
        transform: 
            rotate(90deg)
            translate(-3rem, -5rem);
    }

}