.home{
    height: 100%;
    padding-top: 40vh;
    overflow: hidden;   
    align-items: center;
    text-align: center;
    font-family: $font;
    // background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
    // background: linear-gradient(to right, #13756b, #131d75, #187513);
    // background-size: 400% 400%;
    // animation: animatedBackground 10s infinite ease-in-out;
    // background: black;
    // background: $primary-color;
    background: 
    linear-gradient(
        to right,
        rgba($primary-color, 0.9),
        rgba($primary-color, 0.5)
    ), 
    
    url('../img/grave.jpg') center top;
    background-size: cover;

    &_name{
        font-size: 5rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 2px solid set-text-color($primary-color);
        

        &--last{
            color: $secondary-color;
            font-weight: 700;
        }
    }
}

@keyframes animatedBackground{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
