@include media-md{
    .menu-btn{
        visibility: hidden;
    }

    .nav{
        visibility: visible;
        
        .menu-nav{
            display: block;
            transform: translateY(0);
            height: 100%;
            background: transparent;
            text-align: right;

            &_item{
                display: inline;
                padding-right: 1.5rem;
            }

            &_link{
                font-size: 1.5rem;
            }

        }
    }
    #logo{
        svg{
            width: 180px;
        }
    }

    .skills{
        // height: 100%;
        &_bio{
            font-size: 1.5rem;
            
            .text-secondary{
                font-size: 2.5rem;
            }
        }
        &_Text{
            display: flex;
            justify-content: center;
            // justify-content: space-around;
            align-items: center;
            &_Title{
            
                font-weight: 700;
            }
        }
        #Tskills{
            margin-right: 2rem;
        }
    }

    .projects{
        height: 100%;
        &_items{
            grid-template-columns: repeat(2, 1fr);
        }
        .text-secondary{
            font-size: 2.5rem;
        }
    }

    .contact_list{
        grid-template-columns: repeat(2, 1fr);
    }
    .langs{
        grid-template-columns: repeat(2, 1fr) !important;
        display: flex;
    }
    .contact{
        .text-secondary{
            font-size: 2.5rem;
        }
    }

}


@include media-lg{
    .projects{
        &_items{
            grid-template-columns: repeat(3, 1fr);
        }
    }
    .contact_list{
        grid-template-columns: repeat(3, 1fr);
    }
    .langs{
        grid-template-columns: repeat(3, 1fr) !important;
    }
}


@include media-xl{
    // .projects_bio-image{
    //     height: 50vh;
    // }
    .langs{
        grid-template-columns: repeat(3, 1fr);
        display: flex;
    }
}